body {
    font-family: garamond, serif;
    margin: 0;
    padding: 0;
    background-color: #708090;
    color: #fdfefe;
    /* Set font color for the whole body */
}

nav {
    background-color: #A4C495;
    color: #fdfefe;
    /* Override font color for nav */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px RGBA(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fdfefe;
    /* Set font color for nav links */
    text-decoration: none;
    padding: 10px 10px;
    text-transform: lowercase;
    transition: background-color 0.9s ease, color 0.9s ease;
}

nav ul li a:hover {
    background-color: #C2CDA5;
    color: RGB(194, 205, 165);
    border-radius: 5px;
}

.container {
    padding: 60px 20px 20px;
    /* Adjusted padding to account for fixed nav */
}

h2,
h3,
p,
li {
    color: #fdfefe;
    /* Ensure all text elements use the font color */
}

video {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}